{% extends 'base.html.twig' %}

{% block title %}Add user{% endblock %}

{% block body %}
    <div class="container"  style="margin-top: 50px">
        <h4 class="text-center">Add user</h4>
        {{ form_start(form, {'attr': {'class:': 'form'}}) }}
        <div class="row justify-content-start">
            <div class="col-sm-6">
                {{ form_label(form.username) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}

                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}

                {{ form_label(form.password) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}

                {{ form_label(form.fullName) }}
                {{ form_widget(form.fullName, {'attr': {'class': 'form-control'}}) }}

                {{ form_label(form.company) }}
                {{ form_widget(form.company, {'attr': {'class': 'custom-select'}}) }}
            </div>
        </div>

        <div class="row" style="margin-top: 20px">
            <div class="col-sm">
                <input type="submit" class="btn btn-primary"
                       value="Add">
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}