{% extends 'base.html.twig' %}

{% block title %}Edit user{% endblock %}

{% block body %}
    <div class="container"  style="margin-top: 50px">
        <h4 class="text-center">Edit {{ user.fullName }} password</h4>
        {{ form_start(form, {'attr': {'class:': 'form'}}) }}
        <div class="row justify-content-start">
            <div class="col-sm-6">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="row" style="margin-top: 20px">
            <div class="col-sm">
                <input type="submit" class="btn btn-primary"
                       value="Edit">
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}