{% extends 'base.html.twig' %}

{% block title %}List users{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 50px">
    <h4 class="text-center">Lists of users</h4>

    <div class="row">
    <div class="col-sm">
        <table class="table" id="openOrders">
            <thead>
            <td>Id</td>
            <td>Name</td>
            <td>Company</td>
            <td>Transaction accepted</td>
            <td>Action</td>
            </thead>

            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.fullName }}</td>
                    <td>
                        {% if user.company is not null %}
                            {{ user.company.name }}
                        {% endif %}
                    </td>
                    <td>
                        {{ user.acceptedOrders|length }}
                    </td>
                    <td>
                        <a href="{{ path('admin_user_edit', {'id': user.id }) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="{{ path('admin_user_edit_password', {'id': user.id }) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-lock"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}