{% extends 'admin/base_admin.html.twig' %}

{% block title %}Ordre{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 20px">
        <h1 class="text-center">Current order list</h1>
        {% spaceless %}
            <span id="listIds" style="display:none;">
                {% for ordre in ordres %}{{ ordre.id }}{% if not loop.last %},{% endif %}{% endfor %}
            </span>
        {% endspaceless %}
        <div class="row">
            <div class="col-sm">
                <table class="table" id="openOrders">
                    <thead>
                    <td>Id</td>
                    <td>Fullname</td>
                    <td>Montant</td>
                    <td>Currency</td>
                    <td>Type</td>
                    <td>Proposal</td>
                    <td>Action</td>
                    </thead>
                    {% for ordre in ordres %}
                        <tr id="auth{{ ordre.author.id }}Ord{{ ordre.id }}">
                            <td>{{ ordre.id }}</td>
                            <td>{{ ordre.author.fullName }}</td>
                            <td>{{ ordre.amount }}</td>
                            <td>{{ ordre.pair }}</td>
                            <td>{{ ordre.type|upper }}</td>
                            <td>
                                {% if ordre.proposal is null %}
                                    <form class="proposal form" action="{{ path("admin_proposal") }}" method="post">
                                        <input  type="text" name="proposal" required>
                                        <input type="hidden" name="authorId" value="{{ ordre.author.id }}">
                                        <input type="hidden" name="orderId" value="{{ ordre.id }}">
                                        <input class="btn btn-primary" type="submit" value="envoyer">
                                    </form>
                                {% else %}
                                    {{ ordre.proposal|localizednumber }} {{ ordre.pair|slice(3,3) }}
                                    <progress value="0" max="15"
                                              id="countdown{{ ordre.author.id }}Ord{{ ordre.id }}"></progress>
                                {% endif %}
                            </td>
                            <td>
                                <button class="cancelOrder btn btn-sm btn-danger" data-author-id="{{ ordre.author.id }}" data-order-id="{{ ordre.id }}"><i class="fa fa-close"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
{% endblock %}
