{% extends 'base.html.twig' %}

{% block title %}Edit user{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 50px">
        <h4 class="text-center">Edit my password</h4>
        {{ form_start(form, {'attr': {'class:': 'form'}}) }}
        <div class="row justify-content-start">
            <div class="col-sm-6">
                <p>
                    {{ form_label(form.oldpassword) }}
                    {{ form_widget(form.oldpassword, {'attr': {'class': 'form-control'}}) }}
                </p>

                <p>
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                </p>

                <p>
                    {{ form_label(form.passwordRepeat) }}
                    {{ form_widget(form.passwordRepeat, {'attr': {'class': 'form-control'}}) }}
                </p>
            </div>
        </div>

        <div class="row" style="margin-top: 20px">
            <div class="col-sm">
                <input type="submit" class="btn btn-primary"
                       value="Change password">
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}