<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Woorton{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>

{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey }}
    </div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-sm text-center">
            <img class="img-fluid mx-auto" style="max-height: 500px; margin-bottom: -50px" src="{{ asset('images/woorton_big.png') }}" alt="">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-4 text-center">
            <div class="well">
                <form class="form" action="{{ path('security_login') }}" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}"
                                   class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" id="password" name="_password" class="form-control"/>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Connect
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>