{% extends 'base.html.twig' %}

{% block title %}Set up two factor authentication{% endblock %}

{% block body %}
   <div class="container">
       <div class="row">
           <div class="col text-center">
               <h1>Enable two factor authentication</h1>
               <p>To enable it, u have to download google Auth application on your phone.</p>
               <img src="{{ qr_code_data_uri(qrContent) }}"/> <br>
               <p>
                   SECRET : {{ secret }}<br>
                   We <b>advise</b> you to write it somewhere.
               </p>

               <form method="post" style="margin-top: 25px">
                   <label for="verificationCode">Verification code :</label>
                   <input type="text" name="verificationCode">
                   <input type="hidden" name="secret" value="{{ secret }}">
                   <input type="Submit" class="btn btn-success" value="Send">
               </form>
           </div>
       </div>
   </div>
{% endblock %}