<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Woorton{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm text-center">
            <img class="img-fluid mx-auto" style="max-height: 500px; margin-bottom: -50px"
                 src="{{ asset('images/woorton_big.png') }}" alt="">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-4 text-center">
            {% if error is defined %}
                <div class="alert alert-danger">
                    {{ error.messageKey }}
                </div>
            {% endif %}

            {% if authenticationError %}
                <p>{{ authenticationError|trans(authenticationErrorData) }}</p>
            {% endif %}

            <p class="label"><label for="_auth_code">Google authentication code :</label></p>

            <form class="form" action="{{ path("2fa_login_check") }}" method="post">
                <p>
                    <input class="form-control" id="_auth_code" type="text" autocomplete="off"
                           name="{{ authCodeParameterName }}"/>
                </p>
                {% if displayTrustedOption %}
                    <label for="_trusted">
                        <input id="_trusted" class="form-control" type="checkbox"
                               name="{{ trustedParameterName }}"/> {{ "scheb_two_factor.trusted"|trans }}
                    </label>
                {% endif %}
                {% if isCsrfProtectionEnabled %}
                    <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
                {% endif %}
                <input class="btn btn-primary" type="submit" value="Valid"/>
                <a class="btn btn-danger" href="{{ path("_security_logout") }}">Cancel</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>