{% extends 'base.html.twig' %}

{% block title %}List companies{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 50px">
    <h4 class="text-center">Lists of companies</h4>

    <div class="row">
    <div class="col-sm">
        <table class="table" id="openOrders">
            <thead>
            <td>Id</td>
            <td>Name</td>
            <td>Members</td>
            <td>Action</td>
            </thead>

            {% for company in companies %}
                <tr>
                    <td>{{ company.id }}</td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.members|length }}</td>
                    <td>
                        {% if company.members|length == 0 %}
                            <a class="btn btn-sm btn-danger" href="{{ path('admin_company_delete', {'id': company.id }) }}">
                                <i class="fa fa-close"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}