{% extends 'base.html.twig' %}

{% block title %}Ordre{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Liste des ordres </h1>

        <table>
            <thead>
            <td>Id</td>
            <td>Montant</td>
            <td>Currency</td>
            <td>Type</td>
            </thead>
            {% for ordre in ordres %}
                <tr>
                    <td>{{ ordre.id }}</td>
                    <td>{{ ordre.amount }}</td>
                    <td>{{ ordre.currency }}</td>
                    <td>{{ ordre.type }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/appAdmin.js') }}"></script>
{% endblock %}