@import '~bootstrap/dist/css/bootstrap.min.css';
@import "font-awesome.min.css";
@import "magnific-popup.css";

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}