{% extends 'base.html.twig' %}

{% block title %}Accepted historic order{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-sm">
                <h3 class="text-center">Company Historic</h3>
                <table class="table">
                    <thead>
                    <td>Order Id</td>
                    <td>From</td>
                    <td>Pair</td>
                    <td>Direction</td>
                    <td>Price</td>
                    <td>Amount</td>
                    <td>Total</td>
                    <td>Date</td>
                    </thead>
                    {% for acceptedOrder in acceptedOrders %}
                        <tr>
                            <td>{{ acceptedOrder.id }}</td>
                            <td>{{ acceptedOrder.author.fullName }}</td>
                            <td>{{ acceptedOrder.pair }}</td>
                            <td>{{ acceptedOrder.type|upper }}</td>
                            <td>{{ acceptedOrder.proposal|localizednumber }}</td>
                            <td>{{ acceptedOrder.amount|localizednumber }} </td>
                            <td>{{ (acceptedOrder.proposal * acceptedOrder.amount)|localizednumber }}  {{ acceptedOrder.pair|slice(3,3) }}</td>
                            <td>{{ acceptedOrder.proposalDate|date }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}