{% extends 'base.html.twig' %}

{% block title %}Ordre{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="userOrdre" style="margin-bottom: 50px; margin-top: 50px">
                    <span id="userId" style="display: none">{{ userId }}</span>
                    {% if form is defined %}
                        <h4 class="text-center">Make a new order</h4>
                        {{ form_start(form, {'attr': {'id': 'ordre', 'class:': 'form'}}) }}
                        <div class="row justify-content-start">
                            <div class="col-sm">{{ form_label(form.amount) }}{{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}</div>
                            <div class="col-sm">{{ form_label(form.type) }}{{ form_widget(form.type, {'attr': {'class': 'custom-select'}}) }}</div>
                            <div class="col-sm">{{ form_label(form.pair) }}{{ form_widget(form.pair, {'attr': {'class': 'custom-select'}}) }}</div>
                        </div>

                        <div class="row" style="margin-top: 20px">
                            <div class="col-sm text-center">
                                <input type="submit" class="btn btn-primary"
                                       value="Ask for proposal">
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    {% else %}
                        <div class="row">
                            <div class="col-sm h4 text-center border-bottom">
                                You opened an order to <span class="font-weight-bold">{{ openorder.type|upper }}</span>
                                <span class="font-weight-bold">{{ openorder.amount }}</span>
                                <span class="font-weight-bold">{{ openorder.pair }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm text-center">
                                {% if openorder.proposal is not null %}
                                    <div class="row text-center">
                                        <div class="col-sm">

                                            Woorton propose  <span class="font-weight-bold">{{ openorder.proposal|localizednumber }} {{ openorder.pair|slice(3,3) }}</span> / unit <br>
                                            That mean a total of <span class="font-weight-bold">{{ (openorder.proposal * openorder.amount)|localizednumber }} {{ openorder.pair|slice(3,3) }}</span>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-sm">
                                            <progress value="0" max="15" id="countdown"></progress>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-sm">
                                            <button id="acceptProposal" data-order-id="{{ openorder.id }}" class="btn btn-success">Accept</button>
                                            <button id="refuseProposal" data-order-id="{{ openorder.id }}" class="btn btn-danger">Refuse</button>
                                        </div>
                                    </div>
                                {% else %}
                                    <h5>Waiting proposal</h5>
                                    <button class="btn btn-danger" id="cancelMyOrder" data-order-id="{{ openorder.id }}">Cancel</button>
                                {% endif %}
                            </div>
                        </div>

                    {% endif %}
                </div>
                <div id="responseDiv">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/order.js') }}"></script>
{% endblock %}
