<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Woorton OTC{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('ordre') }}">
            <img src="{{ asset('images/woorton.png') }}" width="30" height="30" alt="woorton-logo">
            Woorton OTC
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('ordre') }}">Make an order</a>
                </li>
                <li>
                    <a class="nav-link" href="{{ path('accepted_historic_order') }}">Historic</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"  href="{{ path('change_password') }}">Change my password</a>
                    </div>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item"  href="{{ path('admin_list_ordre') }}">Order</a>
                            <a class="dropdown-item"  href="{{ path('admin_historic') }}">Historic</a>
                            <a class="dropdown-item"  href="{{ path('admin_company_add') }}">Add Company</a>
                            <a class="dropdown-item"  href="{{ path('admin_company_list') }}">List Company</a>
                            <a class="dropdown-item"  href="{{ path('admin_user_add') }}">Add User</a>
                            <a class="dropdown-item"  href="{{ path('admin_user_list') }}">List User</a>
                        </div>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="/logout">Disconnect</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div class="container" style="margin-top: 20px">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
</div>

{% block body %}
{% endblock %}

<script src="{{ asset('build/app.js') }}"></script>
{% block javascripts %}

{% endblock %}
</body>
</html>
